In [18]:
import pandas as pd
df = pd.read_csv("Twitter_trends(11).csv")

In [20]:
#df = df.loc[df['Trend'] in ["Mazurek", "Legia"]] 
df_g = df[df['Trend'].isin(["Mazurek", "Mazurka"])]
df_g

             Date  Inverted Position    Trend   Inverted Position
5195   2023-10-19                5.0  Mazurka                 NaN
5243   2023-10-19                7.0  Mazurka                 NaN
5292   2023-10-19                8.0  Mazurka                 NaN
5344   2023-10-19                6.0  Mazurka                 NaN
5393   2023-10-19                7.0  Mazurka                 NaN
6488   2023-10-18               12.0  Mazurek                 NaN
6539   2023-10-18               11.0  Mazurek                 NaN
6645   2023-10-18                5.0  Mazurek                 NaN
21756  2023-10-05               12.0  Mazurek                 NaN

In [21]:
df_g['Inverted Position'].groupby(df_g['Date']).sum()

Date
2023-10-05    12.0
2023-10-18    28.0
2023-10-19    33.0
Name: Inverted Position, dtype: float64

In [35]:
import pandas as pd

def generate_updated_dataframe(start_date, end_date, df2):
    date_range = pd.date_range(start=start_date, end=end_date).strftime('%Y-%m-%d')
    data = {'Date': date_range}
    df = pd.DataFrame(data)
    merged_df = df.merge(df2, on='Date', how='left')
    merged_df['Inverted Position'] = merged_df['Inverted Position'].fillna(0)
    merged_df = merged_df.drop('Inverted Position', axis=1)
    return merged_df

# Example usage:
start_date = '2023-11-02'
end_date = '2023-11-10'
data2 = {'Date': ['2023-11-03', '2023-11-05'],
         'Inverted Position': [10, 20]}
df2 = pd.DataFrame(data2)

result_df = generate_updated_dataframe(start_date, end_date, df2)
print(result_df)

         Date
0  2023-11-02
1  2023-11-03
2  2023-11-04
3  2023-11-05
4  2023-11-06
5  2023-11-07
6  2023-11-08
7  2023-11-09
8  2023-11-10

In [40]:
import pandas as pd

def generate_updated_dataframe(start_date, end_date, df2):
    date_range = pd.date_range(start=start_date, end=end_date).strftime('%Y-%m-%d')
    data = {'Date': date_range, 'Inverted Position': [0] * len(date_range)}
    df = pd.DataFrame(data)
    merged_df = df.merge(df2, on='Date', how='left')
    merged_df['Inverted Position_x'].fillna(0, inplace=True)
    merged_df['Inverted Position_y'] = merged_df['Inverted Position_y'].fillna(0)
    merged_df['Inverted Position'] = merged_df['Inverted Position_x'] + merged_df['Inverted Position_y']
    merged_df = merged_df.drop(['Inverted Position_x', 'Inverted Position_y'], axis=1)
    return merged_df

# Example usage:
start_date = '2023-11-02'
end_date = '2023-11-10'
data2 = {'Date': ['2023-11-03', '2023-11-05'],
         'Inverted Position': [10, 20]}
df2 = pd.DataFrame(data2)

result_df = generate_updated_dataframe(start_date, end_date, df2)
print(result_df)

         Date  Inverted Position
0  2023-11-02                0.0
1  2023-11-03               10.0
2  2023-11-04                0.0
3  2023-11-05               20.0
4  2023-11-06                0.0
5  2023-11-07                0.0
6  2023-11-08                0.0
7  2023-11-09                0.0
8  2023-11-10                0.0

In [49]:
import pandas as pd

def generate_updated_dataframe(start_date, end_date, df2):
    date_range = pd.date_range(start=start_date, end=end_date).strftime('%Y-%m-%d')
    data = {'Date': date_range, 'Inverted Position': [0] * len(date_range)}
    df = pd.DataFrame(data)
    
    df2 = df2.rename_axis('Date').reset_index()
    
    merged_df = pd.concat([df, df2], ignore_index=True)
    merged_df['Inverted Position'].fillna(0, inplace=True)
    
    return merged_df

# Example usage:
start_date = '2023-11-02'
end_date = '2023-11-10'
data2 = pd.Series([10, 20], index=pd.to_datetime(['2023-11-03', '2023-11-05']))
result_df = generate_updated_dataframe(start_date, end_date, data2)
print(result_df)

                   Date  Inverted Position     0
0            2023-11-02                0.0   NaN
1            2023-11-03                0.0   NaN
2            2023-11-04                0.0   NaN
3            2023-11-05                0.0   NaN
4            2023-11-06                0.0   NaN
5            2023-11-07                0.0   NaN
6            2023-11-08                0.0   NaN
7            2023-11-09                0.0   NaN
8            2023-11-10                0.0   NaN
9   2023-11-03 00:00:00                0.0  10.0
10  2023-11-05 00:00:00                0.0  20.0